
.imagenfondo {
    background-image:url('./image/OIU9I70Tra5.png');
}

.sectionClassTemp{
    height:0;
    width:20%;
    padding-bottom:20%
}

.footer {
    background-color: #ECEFF1;
}

.sectionfooter {
    background-color:slategray;
}

.h1titulo {
    font-family: 'Blinker', sans-serif;
    font-weight: 600;
}

.h1subtitulo {
    font-family: 'Blinker', sans-serif;
    font-weight: 350;
}

.h2titulo {
    font-family: 'Blinker', sans-serif;
    font-weight: 400;
}

.renders {
    padding-top: 40px;
}

.animacion {
    padding-top: 40px;
}

.drone {
    padding-top: 40px;
}

.espacio{
    padding-left: 15px;
}

.espaciominimo {
    padding-left: 5px;
}